# Gitignore for Raku (https://raku.org)
# As part of https://github.com/github/gitignore

# precompiled files
.precomp
lib/.precomp

# emacs
*~

# Rstudio
*.Rproj*

# Latex
*.tex
*.log
*.pdf
*.synctex.gz
.Rhistory
.Rproj.user
auto/
*.bbl
*.blg

.RData